

<!--메인 페이지 상단-->
<div th:fragment="topNavi" class="container-fluid fixed-top py-2">
    <div class="row align-items-center">
        <div class="col fs-3">
            <span class="text-white fw-bold">
                F.Guys
            </span>
        </div>
        <div class="col text-center border rounded-pill bg-light d-flex justify-content-center align-items-center">
            <span class="fw-bold" style="color: #B41E30;">
                FG 게시판
            </span>
        </div>
        <div class="col text-end">
            <span class="text-white fs-3 p-0">
                <i class="bi bi-bag"></i>
            </span>
        </div>
    </div>
</div>
<!-- 메인페이지 하단 -->
<div th:fragment="bottomNavi" class="container-fluid pb-3 pt-1 fixed-bottom border bg-light">
    <div class="row justify-content-between mx-1">
        <!-- 메뉴 -->
        <div class="col-auto rounded-circle">
            <div class="row-auto text-center">
                <div class="col">
                    <a href="" class="customer_navi_link">
                        <span><i class="bi bi-list fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="col">
                    <span class="fw-bold" style="position: absolute; bottom: -0.8rem; left: 1.2rem; font-size: 0.7rem">메뉴</span>
                </div>
            </div>
        </div>
        <!-- 이벤트 -->
        <div class="col-auto rounded-circle">
            <div class="row-auto text-center">
                <div class="col">
                    <a href="/event/eventlistPage" class="customer_navi_link">
                        <span><i class="bi bi-calendar-date fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="col">
                    <span class="fw-bold" style="position: absolute; bottom: -0.8rem; left: 0.9rem; font-size: 0.7rem">이벤트</span>
                </div>
            </div>
        </div>
        <!-- 홈 -->
        <div class="col-auto rounded-circle">
            <div class="row-auto text-center">
                <div class="col">
                    <a href="/customer/mainPage" class="customer_navi_link">
                        <span><i class="bi bi-house fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="col">
                    <span class="fw-bold" style="position: absolute; bottom: -0.8rem; left: 0.7rem; font-size: 0.7rem">HOME</span>
                </div>
            </div>
        </div>
        <!-- 자유 게시판 페이지 -->
        <div class="col-auto rounded-circle">
            <div class="row-auto text-center">
                <div class="col">
                    <a href="/customer/communityPage" class="customer_navi_link">
                        <span><i class="bi bi-person-circle fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row" style="position: relative">
                <div class="col">
                    <span class="fw-bold" style="position: absolute; bottom: -0.8rem; left: 0.8rem; font-size: 0.7rem">게시판</span>
                </div>
            </div>
        </div>
        <!-- 주문내역 -->
        <div class="col-auto rounded-circle">
            <div class="row-auto text-center">
                <div class="col">
                    <a href="" class="customer_navi_link">
                        <span><i class="bi bi-envelope-paper fa-2x"></i></span>
                    </a>
                </div>
            </div>
            <div class="row text-center" style="position: relative">
                <div class="col">
                    <span class="fw-bold" style="position: absolute; bottom: -0.8rem; left: 0.6rem; font-size: 0.7rem">주문내역</span>
                </div>
            </div>
        </div>
    </div>
</div>
