<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.customer.mapper.CommunitySqlMapper">

    <insert id="insertCommunity">
        insert into fc_community(
            customerNumber, communityTitle, communityContent, communityVisitCount
        ) values(
             #{customerNumber} , #{communityTitle}, #{communityContent} , 0
        )
    </insert>

    <select id="selectCommunityList" resultType="CommunityDto">
        select * from fc_community
        order by communityNumber desc
    </select>

    <select id="selectCommunityNumber" resultType="CommunityDto">
        select * from fc_community where customerNumber = #{customerNumber}
    </select>

    <select id="selectCustomerNumber" resultType="int">
        select * from fc_customer where customerNumber = #{customerNumber}
    </select>




</mapper>