<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script>
        function masterEventListPage(){
            const url = "/api/event/eventListPage";

            console.log(url);
            fetch(url)
            .then(response => response.json())
            .then(response => {
                const runningEventCount = document.getElementById("runningEventCount");
                runningEventCount.textContent = response.selectRunningEvent;

                const endEventCount = document.getElementById("endEventCount");
                endEventCount.textContent = response.selectEndEvent;
                
                const runningEventLocation = document.getElementById("runningEventLocation");
                runningEventLocation.innerHTML="";
                const runningEventTempleteLocation = document.getElementById("runningEventTempleteLocation");
                const runningEventTemplete = runningEventTempleteLocation.querySelector(".runningEventTemplete")
                
                for(runningEvent of response.runningEventInfoList){
                    const newRunningEventTemplete = runningEventTemplete.cloneNode(true);
                    
                    const runningOnclick = newRunningEventTemplete.querySelector(".runningOnclick");
                    runningOnclick.src = "/images/"+runningEvent.eventBoardDto.eventMainImage;
                    runningOnclick.style.cursor = 'pointer';
                    

                    runningOnclick.onclick = (function(eventNumber) {
                        return function() {
                            showDetailPage(eventNumber);
                        };
                    })(runningEvent.eventBoardDto.eventNumber);

                    const updateEventpage = newRunningEventTemplete.querySelector(".updateEventpage");
                    updateEventpage.onclick = (function(eventNumber) {
                        return function() {
                            showUpdateEventpage(eventNumber);
                        };
                    })(runningEvent.eventBoardDto.eventNumber);

                    const deleteEventPage = newRunningEventTemplete.querySelector(".deleteEventPage");
                    deleteEventPage.onclick = (function(eventNumber) {
                        return function() {
                            deleteEventProcess(eventNumber);
                        };
                    })(runningEvent.eventBoardDto.eventNumber);

                    const runningEventNumber =  newRunningEventTemplete.querySelector(".runningEventNumber");
                    runningEventNumber.textContent = runningEvent.eventBoardDto.eventNumber;

                    const runningEventTitle = newRunningEventTemplete.querySelector(".runningEventTitle");
                    runningEventTitle.textContent = runningEvent.eventBoardDto.eventTitle;

                    runningEventLocation.appendChild(newRunningEventTemplete);
                }

                const endEventLocation = document.getElementById("endEventLocation");
                endEventLocation.innerHTML="";           
                const endEventTempleteLocation = document.getElementById("endEventTempleteLocation");
                const endEventTemplete = endEventTempleteLocation.querySelector(".endEventTemplete");
                for(endEvent of response.endEventInfoList){
                    const newEndEventTemplete = endEventTemplete.cloneNode(true);

                    const endOnclick = newEndEventTemplete.querySelector(".endOnclick");
                    endOnclick.src = "/images/"+endEvent.eventBoardDto.eventMainImage;
                    endOnclick.style.cursor = 'pointer';
                    endOnclick.onclick =(function(eventNumber){
                        return function(){
                            showDetailPage(eventNumber);
                        }
                    })(endEvent.eventBoardDto.eventNumber);

                    const updateEndEventpage = newEndEventTemplete.querySelector(".updateEndEventpage");
                    updateEndEventpage.onclick = (function(eventNumber) {
                        return function() {
                            showUpdateEventpage(eventNumber);
                        };
                    })(endEvent.eventBoardDto.eventNumber);

                    const deleteEndEventPage = newEndEventTemplete.querySelector(".deleteEndEventPage");
                    deleteEndEventPage.onclick = (function(eventNumber) {
                        return function() {
                            deleteEventProcess(eventNumber);
                        };
                    })(endEvent.eventBoardDto.eventNumber);
                    

                    const endEventNumber =  newEndEventTemplete.querySelector(".endEventNumber");
                    endEventNumber.textContent = endEvent.eventBoardDto.eventNumber;

                    const endEventTitle = newEndEventTemplete.querySelector(".endEventTitle");
                    endEventTitle.textContent = endEvent.eventBoardDto.eventTitle;  
                    
                    endEventLocation.appendChild(newEndEventTemplete);
                }

            })
        }

        function showDetailPage(eventNumber){
            console.log(eventNumber);
            const url = "/api/event/eventDetailPage?eventNumber="+eventNumber;
            fetch(url)
            .then(response => response.json())
            .then(response=>{
                const modal = bootstrap.Modal.getOrCreateInstance("#exampleModal");
                const location = document.querySelector("#exampleModalLabel");
                const startDaylocation = document.getElementById("eventStartDay");
                const endDaylocation = document.getElementById("eventEndDay");
                location.textContent = response.eventBoardDtoAndDetail.eventBoardDto.eventTitle;

                const eventBoardLikeCount = document.getElementById("eventBoardLikeCount");
                eventBoardLikeCount.textContent = response.eventBoardLikeCount;

                const eventVisitCount = document.getElementById("eventVisitCount");
                eventVisitCount.textContent = response.eventBoardDtoAndDetail.eventBoardDto.eventVisitCount;

                
                startDaylocation.textContent = response.eventBoardDtoAndDetail.eventBoardDto.eventStartDay;
                endDaylocation.textContent = response.eventBoardDtoAndDetail.eventBoardDto.eventEndDay;
                
                const detailImageListLocation = document.getElementById("detailImageListLocation")             
                const detailImageListTempleteLocation = document.getElementById("detailImageListTempleteLocation");
                const detailImageListTemplete = detailImageListTempleteLocation.querySelector(".detailImageListTemplete");

                detailImageListLocation.innerHTML = "";

                for(boardDetailImage of response.eventBoardDtoAndDetail.eventDetailImageDtoList){
                    const newDetailImageListTemplete = detailImageListTemplete.cloneNode(true);
                    const detailImage = newDetailImageListTemplete.querySelector(".detailImage");
                    detailImage.src = "/images/"+boardDetailImage.eventDetailImage;

                    detailImageListLocation.appendChild(newDetailImageListTemplete);
                }
                const commentListLocation = document.querySelector("#commentListLocation");
                const commentListTempleteLocation = document.getElementById("commentListTempleteLocation");
                const commentListTemplete = commentListTempleteLocation.querySelector(".commentListTemplete");
                commentListLocation.innerHTML = "";
                for(comments of response.eventBoardCommentList){
                    const newCommentListTemplete = commentListTemplete.cloneNode(true);
                    const customerName = newCommentListTemplete.querySelector(".customerName");
                    customerName.textContent = comments.customerDto.customerName;

                    const eventCommentContent = newCommentListTemplete.querySelector(".eventCommentContent");
                    eventCommentContent.textContent = comments.eventCommentDto.eventCommentContent;

                    const eventCommentCreatedAt = newCommentListTemplete.querySelector(".eventCommentCreatedAt");
                    const commentCreatedAt = new Date(comments.eventCommentDto.eventCommentCreatedAt);
                    const year = commentCreatedAt.getFullYear();
                    const month = String(commentCreatedAt.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
                    const day = String(commentCreatedAt.getDate()).padStart(2, '0');

                    const formattedDate = `${year}-${month}-${day}`;

                    eventCommentCreatedAt.textContent = formattedDate;
                    

                    const masterReplyLocation = newCommentListTemplete.querySelector(".masterReplyLocation");


                    // 마스터로그인 성공 댓글 없음
                    if(comments.eventCommentDto.masterReply === null && response.masterDto !== null){
                        
                        const yesMasterNoReplyTempleteLocation = document.getElementById("yesMasterNoReplyTempleteLocation");
                        const yesMasterNoReplyTemplete = yesMasterNoReplyTempleteLocation.querySelector(".yesMasterNoReplyTemplete");
                        const newYesMasterNoReplyTemplete = yesMasterNoReplyTemplete.cloneNode(true);

                        const writebutton = newYesMasterNoReplyTemplete.querySelector(".writebutton");
                        const masterReply = newYesMasterNoReplyTemplete.querySelector(".masterReply");
                        

                        console.log("masterReply.value"+masterReply.value);
                        console.log("eventCommentNumber"+comments.eventCommentDto.eventCommentNumber);
                        console.log("eventNumber"+eventNumber);
                        writebutton.onclick = (function(masterReplyElement, ceventCommentNumber, eventNumber) {
                            return function() {
                                writeprocess(masterReplyElement.value, ceventCommentNumber, eventNumber);
                            }
                        })(masterReply, comments.eventCommentDto.eventCommentNumber, eventNumber);

                        masterReplyLocation.appendChild(newYesMasterNoReplyTemplete);

                    }

                    // 마스터 로그인 실패 댓글 있음
                    if(comments.eventCommentDto.masterReply !== null && response.masterDto === null){
                        const noMasteYesReplyTempleteLocation = document.getElementById("noMasteYesReplyTempleteLocation");
                        const noMasteYesReplyTemplete = noMasteYesReplyTempleteLocation.querySelector(".noMasteYesReplyTemplete");
                        const newNoMasteYesReplyTemplete = noMasteYesReplyTemplete.cloneNode(true);

                        const masterReply = newNoMasteYesReplyTemplete.querySelector(".masterReply");
                        const masterReplyCreatedAt = newNoMasteYesReplyTemplete.querySelector(".masterReplyCreatedAt");
                        const replyCreatedAt = new Date(comments.eventCommentDto.masterReplyCreatedAt);
                        const year = commentCreatedAt.getFullYear();
                        const month = String(commentCreatedAt.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
                        const day = String(commentCreatedAt.getDate()).padStart(2, '0');

                        const formattedDate = `${year}-${month}-${day}`;

                        masterReplyCreatedAt.textContent = formattedDate;

                        masterReply.textContent = comments.eventCommentDto.masterReply;
                        
                        masterReplyLocation.appendChild(newNoMasteYesReplyTemplete);

                    }

                    // 마스터 로그인 성공 댓글 확인
                    if(comments.eventCommentDto.masterReply !== null && response.masterDto !== null){
                        const yesMasterYesReplyTempleteLocation = document.getElementById("yesMasterYesReplyTempleteLocation");
                        const yesMasterYesReplyTemplete = yesMasterYesReplyTempleteLocation.querySelector(".yesMasterYesReplyTemplete");
                        const newYesMasterYesReplyTemplete = yesMasterYesReplyTemplete.cloneNode(true);

                        const masterReply = newYesMasterYesReplyTemplete.querySelector(".masterReply");
                        const masterReplyCreatedAt = newYesMasterYesReplyTemplete.querySelector(".masterReplyCreatedAt");

                        const replyCreatedAt = new Date(comments.eventCommentDto.masterReplyCreatedAt);
                        const year = commentCreatedAt.getFullYear();
                        const month = String(commentCreatedAt.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 +1
                        const day = String(commentCreatedAt.getDate()).padStart(2, '0');

                        const formattedDate = `${year}-${month}-${day}`;

                        masterReplyCreatedAt.textContent = formattedDate;

                        masterReply.textContent = comments.eventCommentDto.masterReply;
                    
                        masterReplyLocation.appendChild(newYesMasterYesReplyTemplete);

                    }

                    commentListLocation.appendChild(newCommentListTemplete);
                    
                }

                modal.show();
            });
        }

        function deleteEventProcess(eventNumber){
            const url = "/api/event/deleteEventProcess?eventNumber="+eventNumber;
            fetch(url)
            .then(response => response.json())
            .then(response => {
                masterEventListPage()
            })


        }

        function writeprocess(masterReply,eventCommentNumber,eventNumber){
            console.log(masterReply,eventCommentNumber,eventNumber);
            const url = "/api/event/updateMasterReply";
            fetch(url,{
                method : "post",
                headers : {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    eventNumber: eventNumber,
                    masterReply: masterReply,
                    eventCommentNumber:eventCommentNumber
                })
            })
            .then(response => response.json())
            .then(response => {
                showDetailPage(response.eventNumber)
            })

        }

        function showUpdateEventpage(eventNumber){
            
            const url = "/api/event/updateEventPage?eventNumber="+eventNumber;
            fetch(url)
            .then(response => response.json())
            .then(response =>{
                
                const offcanvas2 = bootstrap.Offcanvas.getOrCreateInstance('#offcanvasUpdateBottom');
                const offcanvasUpdateEventTitle = document.getElementById("offcanvasUpdateEventTitle");
                offcanvasUpdateEventTitle.value = response.eventBoardDto.eventTitle;

                const offcanvasUpdateEventStartDay = document.getElementById("offcanvasUpdateEventStartDay");
                offcanvasUpdateEventStartDay.value = response.eventBoardDto.eventStartDay;

                const offcanvasUpdateEventEndDay = document.getElementById("offcanvasUpdateEventEndDay");
                offcanvasUpdateEventEndDay.value = response.eventBoardDto.eventEndDay;

                const offcanvasUpdateEventNumber = document.getElementById("offcanvasUpdateEventNumber");
                offcanvasUpdateEventNumber.value = response.eventBoardDto.eventNumber;

                offcanvas2.show();
            })
            
        }

        function insertEventPage(){
            const offcanvas = bootstrap.Offcanvas.getOrCreateInstance('#offcanvasBottom');

            offcanvas.show();
        }

        function updateEventProcess(){
            document.getElementById('upadteUploadData').onsubmit = function(event) {
            event.preventDefault();
            const offcanvas = bootstrap.Offcanvas.getOrCreateInstance('#offcanvasUpdateBottom');

            
            // FormData 객체 생성
            const formData = new FormData();

            // 추가 데이터 추가
            const offcanvasUpdateEventTitle = document.getElementById("offcanvasUpdateEventTitle").value;
            console.log(offcanvasUpdateEventTitle);
            formData.append('eventTitle', offcanvasUpdateEventTitle);

            const offcanvasUpdateEventStartDay = document.getElementById("offcanvasUpdateEventStartDay").value;
            formData.append('eventStartDay', offcanvasUpdateEventStartDay);

            const offcanvasUpdateEventEndDay = document.getElementById("offcanvasUpdateEventEndDay").value;
            formData.append('eventEndDay', offcanvasUpdateEventEndDay);

            const offcanvasUpdateEventNumber = document.getElementById("offcanvasUpdateEventNumber").value;
            formData.append('eventNumber', offcanvasUpdateEventNumber);

            // 이미지 파일 추가
            const offcanvasUpdateUploadFile = document.getElementById("offcanvasUpdateUploadFile").files;
            formData.append("uploadFile",offcanvasUpdateUploadFile[0]);
            const offcanvasUpdateUploadFiles = document.getElementById('offcanvasUpdateUploadFiles').files;
            for (const image of offcanvasUpdateUploadFiles) {
                formData.append('uploadFiles', image);
            }

            const url = "/api/event/updateEventProcess";
            // Fetch API를 사용하여 데이터 전송
            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);

                masterEventListPage();
                document.getElementById("offcanvasUpdateEventTitle").value = "";
                document.getElementById("offcanvasUpdateEventStartDay").value = "";
                document.getElementById("offcanvasUpdateEventEndDay").value = "";
                document.getElementById("offcanvasUpdateUploadFile").value = "";
                document.getElementById("offcanvasUpdateUploadFiles").value = "";
                offcanvas.hide();

            })
            .catch((error) => {
                console.error('Error:', error);
            });
            
            };
            

        }

        function insertEventProcess(){
            console.log("여기가 몇번");
            document.getElementById('uploadData').onsubmit= function(event) {
            event.preventDefault();
            const offcanvas = bootstrap.Offcanvas.getOrCreateInstance('#offcanvasBottom');

            
            // FormData 객체 생성
            const formData = new FormData();

            // 추가 데이터 추가
            const offcanvasEventTitle = document.getElementById("offcanvasEventTitle").value;
            formData.append('eventTitle', offcanvasEventTitle);

            const offcanvasEventStartDay = document.getElementById("offcanvasEventStartDay").value;
            formData.append('eventStartDay', offcanvasEventStartDay);

            const offcanvasEventEndDay = document.getElementById("offcanvasEventEndDay").value;
            formData.append('eventEndDay', offcanvasEventEndDay);

            // 이미지 파일 추가
            const offcanvasUploadFile = document.getElementById("offcanvasUploadFile").files;
            formData.append("uploadFile",offcanvasUploadFile[0]);
            const offcanvasUploadFiles = document.getElementById('offcanvasUploadFiles').files;
            for (const image of offcanvasUploadFiles) {
                formData.append('uploadFiles', image);
            }

            const url = "/api/event/insertEventProcess"
            // Fetch API를 사용하여 데이터 전송
            fetch(url, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data); 
                document.getElementById("offcanvasEventTitle").value = "";
                document.getElementById("offcanvasEventStartDay").value = "";
                document.getElementById("offcanvasEventEndDay").value = "";
                document.getElementById("offcanvasUploadFile").value = "";
                document.getElementById("offcanvasUploadFiles").value = "";
                offcanvas.hide();
                masterEventListPage();


            })
            .catch((error) => {
                console.error('Error:', error);
            });
            
            };
            


        }

        function updateMasterReply(target){
            const location = target.closest(".yesMasterYesReplyTemplete");
            location.innerHTML = ""; // 해당 위치의 HTML을 비웁니다.

            const position = document.getElementById("updateMasterReplyTemplete"); // updatetemplete ID를 가진 요소를 선택합니다.
            const positionCopy = position.cloneNode(true); // 선택한 요소의 복제본을 생성합니다.
            
            location.appendChild(positionCopy);
        }

        window.addEventListener("DOMContentLoaded", () => {
            masterEventListPage();
        });
    </script>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
    
            <div class="col-1"></div>
    
            <div class="col-10">
    
                <div class="row pt-4">
                    <span class="col px-0 text-end fw-bold fs-4">
                        <span th:text="${session.masterDto.masterNickName}"></span>
                        <span class="fs-5">님으로 접속 중</span>
                        <a href="" class="col-2 pt-1 bi bi-box-arrow-right text-decoration-none text-secondary fst-normal fs-5">Logout</a>
                    </span>
    
                </div>
    
    
                <div class="row pt-3">
    
                    <nav class="navbar navbar-expand-lg" style="background-color: #B41E30;">
                        <div class="container-fluid">
                            <a class="navbar-brand fs-2 text-white fw-bold text-center col-2" href="/master/mainPage">F.Guys</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbar">
                                <div class="navbar-nav">
                                    <a class="nav-link fs-5 text-white fw-bold text-start" href="#">메뉴등록</a>
                                    <a class="nav-link fs-5 text-white fw-bold text-start" href="/master/orderPage?id=1">주문확인</a>
                                    <a class="nav-link fs-5 text-white fw-bold text-start" href="/master/reviewPage">리뷰확인</a>
                                    <a class="nav-link fs-5 text-white fw-bold text-start" href="/event/eventlistPage">이벤트</a>
                                    <a class="nav-link fs-5 text-white fw-bold text-start" href="#">매출</a>
                                </div>
                            </div>
                        </div>
                    </nav>
    
                </div>
    
                <div class="row">
                    <div class="col">
                        <div class="row mt-3">
                            <div class="col">
                                <span class="fs-3">이벤트 관리</span>
                            </div>
                        </div>
                        <div class="row mt-3 border">
                            <div class="col py-3">
                                <div class="row">
                                    <div class="col-2">
                                        이벤트 분류
                                    </div>
                                    <div class="col-2">
                                        <select class="form-select form-select-sm" name="haha">
                                            <option selected>선택</option>
                                            <option value="1">진행중인 이벤트</option>
                                            <option value="2">종료된 이벤트</option>
                                            <option value="3">당첨자</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-2">
                                        등록일
                                    </div>
                                    <div class="col">
                                        <input type="date">
                                        <span>~</span>
                                        <input type="date">
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-2">
                                        검색어
                                    </div>
                                    <div class="col-2">
                                        <select class="form-select form-select-sm" name="hehe">
                                            <option selected>이벤트명</option>
                                            <option value="1">이벤트 내용</option>
                                        </select>
                                    </div>
                                    <div class="col ps-0 pe-0">
                                        <input class="form-control form-control-sm" type="text">
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn btn-sm text-white" style="background-color: #B41E30;">검색하기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 border py-3 px-1">
                            <div class="col">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-auto d-grid pe-0">
                                        <button class="btn btn-sm text-white" style="background-color: #B41E30;" type="button" onclick="insertEventPage()">이벤트 등록</button>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col">
                                        <div class="row border-bottom pb-3">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-auto fw-bolder">진행중인 이벤트</div>
                                                    <div class="col">
                                                        <span>Total</span><span id="runningEventCount"></span>
                                                    </div>
                                                </div>
                                                <div class="row text-center text-white" style="background-color: #B41E30;">
                                                    <div class="col-2">번호</div>
                                                    <div class="col-3">이미지</div>
                                                    <div class="col">이벤트명</div>
                                                    <div class="col-2">관리</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" id="runningEventLocation">
                                                        <!-- 진행중인 이벤트 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3 border-bottom pb-3">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-auto fw-bolder">종료된 이벤트</div>
                                                    <div class="col">
                                                        <span>Total</span><span id="endEventCount"></span>
                                                    </div>
                                                </div>
                                                <div class="row text-center text-white" style="background-color: #B41E30;">
                                                    <div class="col-2">번호</div>
                                                    <div class="col-3">이미지</div>
                                                    <div class="col">이벤트명</div>
                                                    <div class="col-2">관리</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col" id="endEventLocation">
                                                        <!-- 종료된 이벤트 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
            </div>
    
            <div class="col-1"></div>
    
        </div>
    
    </div>


<!-- 진행중인 이벤트 템플릿 -->
<div class="d-none" id="runningEventTempleteLocation">
    <div class="runningEventTemplete row align-items-center text-center mt-1 border-bottom pb-1">
        <div class="col-2">
            <span class="runningEventNumber"></span>
        </div>
        <div class="col-3">
            <img style="height: 5em;" class="runningOnclick img-fluid">
        </div>
        <div class="col">
            <span class="runningEventTitle"></span>
        </div>
        <div class="col-2">
            <span class="updateEventpage btn btn-outline-dark btn-sm">수정</span>
            <span class="deleteEventPage btn btn-dark btn-sm text-white">삭제</span>
        </div>
    </div>
</div>

<!-- 종료된 이벤트 템플릿 -->
<div class="d-none" id="endEventTempleteLocation">
    <div class="endEventTemplete row align-items-center text-center mt-1 border-bottom pb-1">
        <div class="col-2">
            <span class="endEventNumber"></span>
        </div>
        <div class="col-3">
           <img style="height: 5em;"  class="endOnclick img-fluid">
        </div>
        <div class="col">
            <span class="endEventTitle"></span>
        </div>
        <div class="col-2">
            <span class="updateEndEventpage btn btn-outline-dark btn-sm" >수정</span>
            <span class="deleteEndEventPage btn btn-dark btn-sm">삭제</span>
        </div>
    </div>
</div>


<!-- 상세페이지 모달 -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" style="margin-bottom:82px;">
                        <div class="col mt-2 px-5">
                            <div class="row">
                                <div class="col">
                                    <div class="row mt-2">
                                        <div class="col px-0">
                                            <span class=" fw-bolder fs-5" id="eventTitle"></span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col px-0">
                                            <span class="fw-bold text-secondary" style="font-size:0.8em;">기간 :</span>
                                            <span class="fw-bold text-secondary" id="eventStartDay" style="font-size:0.8em;"></span>
                                            <span class="fw-bold text-secondary" style="font-size:0.8em;">~</span>
                                            <span class="fw-bold text-secondary" id="eventEndDay" style="font-size:0.8em;"></span>
                                        </div>
                                        <div class="col-auto pe-0 text-end">
                                            <i class="thumbsUp bi bi-hand-thumbs-up"></i>
                                            <span id="eventBoardLikeCount"></span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="bi bi-eye"></i>
                                            <span id="eventVisitCount"></span>
                                        </div>
                                    </div>
                                    <div class="row mt-4" >
                                        <div class="col px-0" id="detailImageListLocation">
                                            <!-- 이미지 리스트 -->
                                        </div>
                                    </div>
                                    <div class="row" >
                
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <div class="row border border-black"></div>
                                        </div>
                                    </div>
                                    <!-- 코멘트 리스트 -->
                                    <div class="row">
                                        <div class="col" id="commentListLocation">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- 이게 이미지 리스트 -->
<div class="d-none" id="detailImageListTempleteLocation">
    <div class="detailImageListTemplete row">
        <div class="col">
            <img class="detailImage img-fluid">
        </div>
    </div>    
</div>

<!-- 코멘트 리스트 템플릿 -->
<div class="d-none" id="commentListTempleteLocation">
    <div class="commentListTemplete row border-bottom py-2">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="customerName fw-bolder" style="font-size:0.9em;" ></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="eventCommentContent"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="font-size:0.8em;" class="eventCommentCreatedAt"></span>
                </div>
            </div>
            <div class="row mt-2 mb-2" >
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="masterReplyLocation row border rounded pe-0">
                                <!-- 마스터 댓글 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 마스터 로그인 성공/ 댓글 없음 -->
<div class="d-none" id="yesMasterNoReplyTempleteLocation">
    <div class="yesMasterNoReplyTemplete col ">
        <div class="row mt-3">
            <div class="col">
                <textarea class="masterReply form-control" ></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-end mb-3">
                <span class="writebutton btn btn-primary">댓글쓰기</span>
            </div>
        </div>
    </div>
</div>

<!-- 마스터 로그인 실패 댓글 있음 -->
<div class="d-none" id="noMasteYesReplyTempleteLocation" >
    <div class="noMasteYesReplyTemplete col bg-body-tertiary">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder" style="font-size:0.9em;" >운영자</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="masterReply"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="font-size:0.8em;" class="masterReplyCreatedAt"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<!-- 마스터 로그인 성공 댓글 확인 -->
<div class="d-none" id="yesMasterYesReplyTempleteLocation" >
    <div class="yesMasterYesReplyTemplete col bg-body-tertiary py-1" >
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <span class="fw-bolder" style="font-size:0.9em;" >운영자</span>
                            </div>
                            <div class="col-auto text-end pe-0">
                                <span style="font-size:0.8em;" onclick="updateMasterReply(this)">수정</span>
                            </div>
                            <div class="col-auto text-end">
                                <span style="font-size:0.8em;">삭제</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="masterReply"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span style="font-size:0.8em;" class="masterReplyCreatedAt"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>

<!-- 마스터 댓글 수정 -->
<div class="d-none" id="updateMasterReplyTemplete">
    <div class="updateMasterReplyTemplete col ">
        <div class="row mt-3">
            <div class="col">
                <textarea class="masterReply form-control" ></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-end mb-3">
                <span class="writebutton btn btn-primary">댓글쓰기</span>
            </div>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-bottom" style="height: 80%;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">이벤트 등록</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="row mt-3" id="uploadData">
                        <div class="col">
                            <div class="row mt-2">
                                <div class="col-auto text-center">
                                    <span>이벤트 제목</span> 
                                </div>
                                <div class="col">
                                    <input class="form-control" id="offcanvasEventTitle" type="text">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-auto">
                                    <span>대표이미지</span>
                                </div>
                                <div class="col-4">
                                    <input id="offcanvasUploadFile" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-auto">
                                    <span>상세이미지</span>
                                </div>
                                <div class="col">
                                    <input id="offcanvasUploadFiles" type="file" multiple accept="image/*">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col">
                                            <span>시작일</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input id="offcanvasEventStartDay" type="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <span>종료일</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input id="offcanvasEventEndDay" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col text-end">
                                    <button type="submit" class="btn btn-danger small" onclick="insertEventProcess()"> 이벤트 등록</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-bottom" style="height: 80%;" tabindex="-1" id="offcanvasUpdateBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">이벤트 수정</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div class="container">
            <div class="row">
                <div class="col">
                    <form class="row mt-3" id="upadteUploadData">
                        <div class="col">
                            <div class="row mt-2">
                                <div class="col-auto text-center">
                                    <span>이벤트 제목</span> 
                                </div>
                                <div class="col">
                                    <input class="form-control" id="offcanvasUpdateEventTitle" type="text">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-auto">
                                    <span>대표이미지</span>
                                </div>
                                <div class="col-4">
                                    <input id="offcanvasUpdateUploadFile" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-auto">
                                    <span>상세이미지</span>
                                </div>
                                <div class="col">
                                    <input id="offcanvasUpdateUploadFiles" type="file" multiple accept="image/*">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col">
                                            <span>시작일</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input id="offcanvasUpdateEventStartDay" type="date">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <span>종료일</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <input id="offcanvasUpdateEventEndDay" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col text-end">
                                    <input type="hidden" id="offcanvasUpdateEventNumber">
                                    <button type="submit" class="btn btn-danger small" onclick="updateEventProcess()"> 이벤트 등록</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>