<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.seller.mapper.SellerSqlMapper">


    <insert id="insertSellerOrder">
        insert into fc_sellerOrder
            (sellerNumber, materialNumber, sellerOrderQuantity, sellerOrderStatus)
        values(#{sellerNumber}, #{materialNumber}, 1, '주문완료')
    </insert>


    <select id="selectOrderList">
        select * from fc_sellerOrder
        where sellerOrderCreatedAt = (
        select max(sellerOrderCreatedAt) from fc_sellerOrder
        where sellerNumber = #{sellerNumber})
    </select>


    <select id="selectMaterialInform">
        select * from fc_material
        where materialNumber = #{materialNumber}
    </select>


    <select id="selectSellerInform">
        select * from fc_seller
        where sellerNumber = #{sellerNumber};
    </select>


    <select id="selectSellerOrderInform">
        select * from fc_sellerOrder
        where sellerOrderNumber = #{sellerOrderNumber}
    </select>

    <update id="updateMaterialQuantity">
        update fc_sellerOrder
        set sellerOrderQuantity = #{sellerOrderQuantity}
        where sellerOrderNumber = #{sellerOrderNumber}
    </update>

    <select id="selectRecentSellerOrder">
        SELECT *
        FROM fc_sellerOrder
        WHERE sellerNumber = #{sellerNumber}
        GROUP BY sellerOrderCreatedAt
        ORDER BY sellerOrderCreatedAt DESC
        LIMIT 3;
    </select>


    <select id="selectAllSellerOrder">
        SELECT *
        FROM fc_sellerOrder
        WHERE sellerNumber = #{sellerNumber}
        GROUP BY sellerOrderCreatedAt
        ORDER BY sellerOrderCreatedAt DESC
    </select>

    <select id="selectSameSellerOrder">
        select * from fc_sellerOrder WHERE
        sellerOrderCreatedAt = #{sellerOrderCreatedAt} and sellerNumber = #{sellerNumber}
    </select>





</mapper>