<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.seller.mapper.SellerSqlMapper">


    <insert id="insertSellerOrder">
        insert into fc_sellerOrder
            (sellerNumber, materialNumber, sellerOrderQuantity, sellerOrderStatus)
        values(#{sellerNumber}, #{materialNumber}, 1, '주문완료')
    </insert>


    <select id="selectOrderList">
        select * from fc_sellerOrder
        where sellerOrderCreatedAt = (
        select max(sellerOrderCreatedAt) from fc_sellerOrder
        where sellerNumber = #{sellerNumber})
    </select>


    <select id="selectMaterialInform">
        select * from fc_material
        where materialNumber = #{materialNumber}
    </select>


    <select id="selectSellerInform">
        select * from fc_seller
        where sellerNumber = #{sellerNumber};
    </select>


    <select id="selectSellerOrderInform">
        select * from fc_sellerOrder
        where sellerOrderNumber = #{sellerOrderNumber}
    </select>


    <update id="updateMaterialQuantity">
        update fc_sellerOrder
        set sellerOrderQuantity = #{sellerOrderQuantity}
        where sellerOrderNumber = #{sellerOrderNumber}
    </update>


    <select id="selectRecentSellerOrder">
        SELECT *
        FROM fc_sellerOrder
        WHERE sellerNumber = #{sellerNumber}
        GROUP BY sellerOrderCreatedAt
        ORDER BY sellerOrderCreatedAt DESC
        LIMIT 3;
    </select>


    <select id="selectAllSellerOrder">
        SELECT *
        FROM fc_sellerOrder
        WHERE sellerNumber = #{sellerNumber}
        GROUP BY sellerOrderCreatedAt
        ORDER BY sellerOrderCreatedAt DESC
    </select>


    <select id="selectSameSellerOrder">
        select * from fc_sellerOrder WHERE
        sellerOrderCreatedAt = #{sellerOrderCreatedAt} and sellerNumber = #{sellerNumber}
    </select>


    <delete id="deleteSellerRecentOrder">
        DELETE FROM fc_sellerOrder
        WHERE sellerOrderCreatedAt =
        (SELECT MAX(sellerOrderCreatedAt) FROM fc_sellerOrder);
    </delete>


    <insert id="insertSellerReview">
        <selectKey resultType="int" keyProperty="sellerReviewNumber" order="AFTER">
            select max(sellerReviewNumber) from fc_sellerReview
        </selectKey>
        insert into fc_sellerReview
            (sellerOrderNumber, sellerReviewContent)
        values(#{sellerOrderNumber}, #{sellerReviewContent});
    </insert>


    <select id="selectAllSellerReview">
        select * from fc_sellerReview
        order by sellerReviewNumber desc;
    </select>


    <select id="selectSellerReview">
        select * from fc_sellerReview
        where sellerReviewNumber = #{sellerReviewNumber}
    </select>


    <select id="selectSellerReviewCheck">
        select count(*) from fc_sellerReview
        where sellerOrderNumber = #{sellerOrderNumber}
    </select>



    <select id="selectMyReview">
        select * from fc_sellerReview fs inner join
            (select sellerOrderNumber from fc_sellerOrder
                where sellerNumber = #{sellerNumber} group by sellerOrderCreatedAt)
        fso on fs.sellerOrderNumber = fso.sellerOrderNumber
        order by fs.sellerReviewNumber desc;
    </select>


    <select id="selectMasterReply">
        SELECT * from fc_masterReply
        where sellerReviewNumber = #{sellerReviewNumber}
    </select>

    <insert id="insertReviewImage">
        insert into fc_sellerReviewImage(sellerReviewNumber, location, original_filename)
        values (#{sellerReviewNumber}, #{location}, #{original_filename})
    </insert>


    <select id="selectReviewImage">
        select * from fc_sellerReviewImage
        where sellerReviewNumber = #{sellerReviewNumber}
    </select>


    <select id="selectMaterial">
        select * from fc_material;
    </select>

    <select id="selectMaterialCategory">
        select * from fc_materialCategory;
    </select>


    <select id="selectMaterialByCategoryNumber">
        select * from fc_material
        where materialCategoryNumber = #{materialCategoryNumber}
    </select>


    <select id="selectMaterialImage">
        select * from fc_materialImage
        where materialNumber = #{materialNumber}
    </select>


    <select id="selectRecentReviewNumber">
        select max(sellerReviewNumber) from fc_sellerReview;
    </select>


    <delete id="deleteReview">
        delete from fc_sellerReview
        where sellerReviewNumber = #{sellerReviewNumber}
    </delete>



    <update id="updateReview">
        UPDATE fc_sellerReview
        SET sellerReviewContent = #{sellerReviewContent}
        WHERE sellerReviewNumber = #{sellerReviewNumber}
    </update>







</mapper>