<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.seller.mapper.SellerCustomerSqlMapper">

    <select id="selectAllSellers" resultType="SellerDto">
        SELECT * FROM fc_seller ORDER BY sellerNumber
    </select>

    <select id="selectSellersByNumber" resultType="SellerDto">
        SELECT * FROM fc_seller WHERE sellerNumber = #{sellerNumber}
    </select>

    <select id="selectCategoryList" resultType="CategoryDto">
        SELECT * FROM fc_category ORDER BY categoryNumber ASC
    </select>

    <select id="selectCategoryByNumber" resultType="CategoryDto">
        SELECT * FROM fc_category WHERE categoryNumber = #{categoryNumber};
    </select>

    <select id="selectProductList" parameterType="int" resultType="ProductDto">
        SELECT * FROM fc_product WHERE categoryNumber = #{categoryNumber} ORDER BY productNumber ASC
    </select>

    <select id="selectProductDetail" resultType="ProductDto">
        SELECT * FROM fc_product
        WHERE productNumber = #{productNumber}
    </select>

    <select id="selectProductsByCategoryNumbers" parameterType="list" resultType="ProductAndCategoryDto">
        SELECT p.*, c.categoryName
        FROM fc_product p
        JOIN fc_category c ON p.categoryNumber = c.categoryNumber
        WHERE p.categoryNumber IN
        <foreach item="categoryNumber" collection="list" open="(" separator="," close=")">
            #{categoryNumber}
        </foreach>
        ORDER BY p.categoryNumber ASC
    </select>

</mapper>