<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.seller.mapper.SellerCommunitySqlMapper">
    <insert id="insertSellerCommunityWrite">
        insert into fc_sellerCommunity(
            sellerNumber,
            sellerCommunityImage,
            sellerCommunityTitle,
            sellerCommunityContent,
            sellerCommunityVisitCount
       ) values(
            #{sellerNumber},
            #{sellerCommunityImage},
            #{sellerCommunityTitle},
            #{sellerCommunityContent},
            0
       )
    </insert>
    <insert id="insertSellerCommunityImageDetail">
        insert into fc_sellerCommunityImageDetail(
            sellerCommunityNumber,
            sellerCommunityImageList
        )values(
            #{sellerCommunityNumber},
            #{sellerCommunityImageList}
        )
    </insert>
    <select id="selectSellerCommunityList">
        select
            sellerCommunityNumber,
            sellerNumber,
            sellerCommunityImage,
            sellerCommunityTitle,
            sellerCommunityContent,
            sellerCommunityVisitCount,
            CASE
                WHEN FLOOR(TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()) / 12) >= 1 THEN CONCAT(FLOOR(TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()) / 12), '년전')
                WHEN TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()), '달전')
                WHEN DATEDIFF(CURRENT_DATE, sellerCommunityCreatedAt) >= 1 THEN CONCAT(DATEDIFF(CURRENT_DATE, sellerCommunityCreatedAt), '일전')
                WHEN TIMESTAMPDIFF(HOUR, sellerCommunityCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(HOUR, sellerCommunityCreatedAt, NOW()), '시간전')
                ELSE CONCAT(TIMESTAMPDIFF(MINUTE, sellerCommunityCreatedAt, NOW()), '분전')
                end as sellerCommunityCreatedAt
        from fc_sellerCommunity
    </select>
</mapper>