<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.seller.mapper.SellerCommunitySqlMapper">
    <insert id="insertSellerCommunityWrite">
        <selectKey order="AFTER" keyProperty="sellerCommunityNumber" resultType="int">
            select max(sellerCommunityNumber) from fc_sellerCommunity;
        </selectKey>
        insert into fc_sellerCommunity(
            sellerNumber,
            sellerCommunityImage,
            sellerCommunityTitle,
            sellerCommunityContent,
            sellerCommunityVisitCount
       ) values(
            #{sellerNumber},
            #{sellerCommunityImage},
            #{sellerCommunityTitle},
            #{sellerCommunityContent},
            0
       )
    </insert>
    <insert id="insertSellerCommunityImageDetail">
        insert into fc_sellerCommunityImageDetail(
            sellerCommunityNumber,
            sellerCommunityImageList
        )values(
            #{sellerCommunityNumber},
            #{sellerCommunityImageList}
        )
    </insert>
    <select id="selectSeller">
        select * from fc_seller fs
        inner join fc_sellerCommunity fsc
        on fs.sellerNumber =fsc.sellerNumber
        where fsc.sellerCommunityNumber=#{sellerCommunityNumber}
    </select>
    <select id="selectSellerCommunityList" >
        <bind name="offset" value="(currentPage - 1) * itemsPerPage"/>
        select
        s.sellerCommunityNumber,
        s.sellerNumber,
        s.sellerCommunityImage,
        s.sellerCommunityTitle,
        s.sellerCommunityContent,
        s.sellerCommunityVisitCount,
            CASE
            WHEN FLOOR(TIMESTAMPDIFF(MONTH, s.sellerCommunityCreatedAt, NOW()) / 12) >= 1 THEN CONCAT(FLOOR(TIMESTAMPDIFF(MONTH, s.sellerCommunityCreatedAt, NOW()) / 12), '년전')
            WHEN TIMESTAMPDIFF(MONTH, s.sellerCommunityCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(MONTH, s.sellerCommunityCreatedAt, NOW()), '달전')
            WHEN DATEDIFF(CURRENT_DATE, s.sellerCommunityCreatedAt) >= 1 THEN CONCAT(DATEDIFF(CURRENT_DATE, s.sellerCommunityCreatedAt), '일전')
            WHEN TIMESTAMPDIFF(HOUR, s.sellerCommunityCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(HOUR, s.sellerCommunityCreatedAt, NOW()), '시간전')
            ELSE CONCAT(TIMESTAMPDIFF(MINUTE, s.sellerCommunityCreatedAt, NOW()), '분전')
            end as sellerCommunityCreatedAt,
        (select count(*) from fc_sellerCommunityLike fsc where fsc.sellerCommunityNumber=s.sellerCommunityNumber) as heart
        from fc_sellerCommunity s
        <where>
            <if test="searchWord!=null and searchWord != ''">
                and s.sellerCommunityTitle like concat('%',#{searchWord},'%')
            </if>
            <if test="sellerSort !=null and sellerSort.size() > 0">
                and s.sellerNumber in
                <foreach collection="sellerSort" item="seller" open="(" close=")" separator=",">
                    #{seller}
                </foreach>
            </if>
        </where>
        order by
            <choose>
                <when test="sortedOption =='recent'">
                    s.sellerCommunityCreatedAt desc
                </when>
                <when test="sortedOption =='view'">
                    s.sellerCommunityVisitCount desc
                </when>
                <when test="sortedOption =='like'">
                    heart desc
                </when>
                <otherwise>
                    s.sellerCommunityCreatedAt DESC
                </otherwise>
            </choose>
        limit #{offset},#{itemsPerPage}
    </select>
    <select id="selectSellerCommunityById">
        select
            sellerCommunityNumber,
            sellerNumber,
            sellerCommunityImage,
            sellerCommunityTitle,
            sellerCommunityContent,
            sellerCommunityVisitCount,
            CASE
                WHEN FLOOR(TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()) / 12) >= 1 THEN CONCAT(FLOOR(TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()) / 12), '년전')
                WHEN TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(MONTH, sellerCommunityCreatedAt, NOW()), '달전')
                WHEN DATEDIFF(CURRENT_DATE, sellerCommunityCreatedAt) >= 1 THEN CONCAT(DATEDIFF(CURRENT_DATE, sellerCommunityCreatedAt), '일전')
                WHEN TIMESTAMPDIFF(HOUR, sellerCommunityCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(HOUR, sellerCommunityCreatedAt, NOW()), '시간전')
                ELSE CONCAT(TIMESTAMPDIFF(MINUTE, sellerCommunityCreatedAt, NOW()), '분전')
                end as sellerCommunityCreatedAt
        from fc_sellerCommunity
        where sellerCommunityNumber=#{sellerCommunityNumber}
    </select>

    <select id="selectSellerCommunityCount">
        select coalesce(count(*),0) from fc_sellerCommunity
        <where>
            <if test="searchWord!=null">
                and sellerCommunityTitle like concat('%',#{searchWord},'%')
            </if>
            <if test="sellerSort !=null and sellerSort.size() > 0">
                and sellerNumber in
                <foreach collection="sellerSort" item="seller" open="(" close=")" separator=",">
                    #{seller}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectImageListById">
        select * from fc_sellerCommunityImageDetail where sellerCommunityNumber=#{sellerCommunityNumber}
    </select>
    <!--댓글 삽입 쿼리-->
    <insert id="insertSellerCommunityComment">
        insert into fc_sellerCommunityComment(
              sellerCommunityNumber,
              sellerNumber,
              sellerCommunityCommentContent
        ) values(
             #{sellerCommunityNumber},
             #{sellerNumber},
             #{sellerCommunityCommentContent}
        )
    </insert>
    <select id="selectSellerCommunityComment" resultType="map">
        select
            scc.sellerCommunityCommentNumber,
            scc.sellerCommunityNumber,
            scc.sellerNumber,
            scc.sellerCommunityCommentContent,
            CASE
                WHEN FLOOR(TIMESTAMPDIFF(MONTH,  scc.sellerCommunityCommentCreatedAt, NOW()) / 12) >= 1 THEN CONCAT(FLOOR(TIMESTAMPDIFF(MONTH,  scc.sellerCommunityCommentCreatedAt, NOW()) / 12), '년전')
                WHEN TIMESTAMPDIFF(MONTH,  scc.sellerCommunityCommentCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(MONTH,  scc.sellerCommunityCommentCreatedAt, NOW()), '달전')
                WHEN DATEDIFF(CURRENT_DATE,  scc.sellerCommunityCommentCreatedAt) >= 1 THEN CONCAT(DATEDIFF(CURRENT_DATE,  scc.sellerCommunityCommentCreatedAt), '일전')
                WHEN TIMESTAMPDIFF(HOUR,  scc.sellerCommunityCommentCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(HOUR,  scc.sellerCommunityCommentCreatedAt, NOW()), '시간전')
                ELSE CONCAT(TIMESTAMPDIFF(MINUTE,  scc.sellerCommunityCommentCreatedAt, NOW()), '분전')
                end as sellerCommunityCommentCreatedAt,
            fs.*
            from fc_sellerCommunityComment scc
        inner join fc_seller fs
        on scc.sellerNumber  =fs.sellerNumber
        where sellerCommunityNumber=#{sellerCommunityNumber}
    </select>

    <!--대댓글 삽입 쿼리-->
    <insert id="insertSellerCommunityReply">
        insert into fc_sellerCommunityReply(
            sellerCommunityCommentNumber,
            sellerNumber,
            sellerCommunityReplyContent
        ) values(
            #{sellerCommunityCommentNumber},
            #{sellerNumber},
            #{sellerCommunityReplyContent}
        )
    </insert>
    <select id="selectSellerCommunityReply" resultType="map">
        select
            fsc.sellerCommunityReplyNumber,
            fsc.sellerCommunityCommentNumber,
            fsc.sellerNumber,
            fsc.sellerCommunityReplyContent,
            CASE
                WHEN FLOOR(TIMESTAMPDIFF(MONTH,  fsc.sellerCommunityReplyCreatedAt, NOW()) / 12) >= 1 THEN CONCAT(FLOOR(TIMESTAMPDIFF(MONTH,  fsc.sellerCommunityReplyCreatedAt, NOW()) / 12), '년전')
                WHEN TIMESTAMPDIFF(MONTH,  fsc.sellerCommunityReplyCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(MONTH,  fsc.sellerCommunityReplyCreatedAt, NOW()), '달전')
                WHEN DATEDIFF(CURRENT_DATE,  fsc.sellerCommunityReplyCreatedAt) >= 1 THEN CONCAT(DATEDIFF(CURRENT_DATE,  fsc.sellerCommunityReplyCreatedAt), '일전')
                WHEN TIMESTAMPDIFF(HOUR,  fsc.sellerCommunityReplyCreatedAt, NOW()) >= 1 THEN CONCAT(TIMESTAMPDIFF(HOUR,  fsc.sellerCommunityReplyCreatedAt, NOW()), '시간전')
                ELSE CONCAT(TIMESTAMPDIFF(MINUTE,  fsc.sellerCommunityReplyCreatedAt, NOW()), '분전')
                end as sellerCommunityReplyCreatedAt,
            fs.*
        from fc_sellerCommunityReply fsc
        inner join fc_seller fs
        on fsc.sellerNumber  =fs.sellerNumber
        where sellerCommunityCommentNumber=#{sellerCommunityCommentNumber}
    </select>

    <!--채팅수 표시 댓글 +대댓글-->
    <select id="selectTotalCommentCount">
       select coalesce(count(*),0) from  fc_sellerCommunityComment where sellerCommunityNumber=#{sellerCommunityNumber}
    </select>
    <select id="selectTotalReplyCount">
        select coalesce(count(*),0) from  fc_sellerCommunityReply fsr
        inner join fc_sellerCommunityComment fsc
        on fsr.sellerCommunityCommentNumber =fsc.sellerCommunityCommentNumber
        where fsc.sellerCommunityNumber =#{sellerCommunityNumber}
    </select>
    <!--댓글당 대댓글 카운트-->
    <select id="selectEachSellerCommentReplyCount">
        select coalesce(count(*),0) from fc_sellerCommunityReply
        where sellerCommunityCommentNumber=#{sellerCommunityCommentNumber}
    </select>

    <!--게시글 좋아요 싫어요-->
    <insert id="insertSellerCommunityLike">
        insert into fc_sellerCommunityLike(
            sellerCommunityNumber,
            sellerNumber
        ) values(
            #{sellerCommunityNumber},
            #{sellerNumber}
        )
    </insert>
    <select id="selectSellerCommunityLikeCount">
        select coalesce(count(*),0) from fc_sellerCommunityLike where sellerCommunityNumber=#{sellerCommunityNumber}
    </select>
    <delete id="deleteSellerCommunityLike">
        delete from fc_sellerCommunityLike
        where sellerCommunityNumber=#{sellerCommunityNumber} and sellerNumber=#{sellerNumber}
    </delete>
    <select id="checkIfSellerCommunityLikeExists">
        select coalesce(count(*),0) from fc_sellerCommunityLike  where sellerNumber=#{sellerNumber} and sellerCommunityNumber=#{sellerCommunityNumber}
    </select>

    <!--조회수 카운트 증가-->
    <update id="updateSellerCommunityVisitCount">
        update fc_sellerCommunity
        set sellerCommunityVisitCount =sellerCommunityVisitCount+1
        where sellerCommunityNumber=#{sellerCommunityNumber}
    </update>

    <!--댓글 좋아요 싫어요 상태 삽입-->
    <insert id="insertSellerCommentLikeStatus">
        insert into fc_sellerCommunityCommentLikeStatus(
            sellerCommunityCommentNumber,
            sellerNumber,
            sellerCommentLikeStatus
        ) values(
            #{sellerCommunityCommentNumber},
            #{sellerNumber},
            ''
        )
    </insert>
    <select id ="selectSellerCommentLikeStatus">
        select * from fc_sellerCommunityCommentLikeStatus
        where sellerCommunityCommentNumber=#{sellerCommunityCommentNumber} and sellerNumber=#{sellerNumber}
    </select>
    <update id="updateSellerCommentLikeStatus">
        update fc_sellerCommunityCommentLikeStatus
        set sellerCommentLikeStatus=#{sellerCommentLikeStatus}
        where sellerNumber=#{sellerNumber} and sellerCommunityCommentNumber=#{sellerCommunityCommentNumber}
    </update>
    <select id="selectSellerCommentLikeCount">
        select coalesce(count(*),0) from fc_sellerCommunityCommentLikeStatus
        where sellerCommunityCommentNumber=#{sellerCommunityCommentNumber} and sellerCommentLikeStatus='like'
    </select>
    <select id="selectSellerCommentDisLikeCount">
        select coalesce(count(*),0) from fc_sellerCommunityCommentLikeStatus
        where sellerCommunityCommentNumber=#{sellerCommunityCommentNumber} and sellerCommentLikeStatus='dislike'
    </select>

    <!--대댓글좋아요 싫어요 상태 삽입-->
    <insert id="insertSellerReplyLikeStatus">
        insert into fc_sellerCommunityReplyLikeStatus(
            sellerCommunityReplyNumber,
            sellerNumber,
            sellerCommunityReplyLikeStatus
        ) values(
            #{sellerCommunityReplyNumber},
            #{sellerNumber},
            ''
        )
    </insert>
    <select id ="selectSellerReplyLikeStatus">
        select * from fc_sellerCommunityReplyLikeStatus
        where sellerCommunityReplyNumber=#{sellerCommunityReplyNumber} and sellerNumber=#{sellerNumber}
    </select>
    <update id="updateSellerReplyLikeStatus">
        update fc_sellerCommunityReplyLikeStatus
        set sellerCommunityReplyLikeStatus=#{sellerCommunityReplyLikeStatus}
        where sellerNumber=#{sellerNumber} and sellerCommunityReplyNumber=#{sellerCommunityReplyNumber}
    </update>
    <select id="selectSellerReplyLikeCount">
        select coalesce(count(*),0) from fc_sellerCommunityReplyLikeStatus
        where sellerCommunityReplyNumber=#{sellerCommunityReplyNumber} and sellerCommunityReplyLikeStatus='like'
    </select>
    <select id="selectSellerReplyDisLikeCount">
        select coalesce(count(*),0) from fc_sellerCommunityReplyLikeStatus
        where sellerCommunityReplyNumber=#{sellerCommunityReplyNumber} and sellerCommunityReplyLikeStatus='dislike'
    </select>

    <select id="getChartRegisterCount">
        SELECT
            CASE
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Sunday' THEN '일'
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Monday' THEN '월'
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Tuesday' THEN '화'
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Wednesday' THEN '수'
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Thursday' THEN '목'
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Friday' THEN '금'
                WHEN DAYNAME(sellerCommunityCreatedAt) = 'Saturday' THEN '토'
                END AS day_name_korean,
            COUNT(*) AS count_per_day
        FROM
            fc_sellerCommunity
        GROUP BY
            DAYNAME(sellerCommunityCreatedAt);
    </select>

    <select id="getPieRegisterCount">
        SELECT
            (
                (SELECT COUNT(*) FROM fc_sellerCommunity WHERE sellerNumber = fs.sellerNumber)
                    + (SELECT COUNT(*) FROM fc_sellerCommunityComment WHERE sellerNumber = fs.sellerNumber)
                    + (SELECT COUNT(*) FROM fc_sellerCommunityReply WHERE sellerNumber = fs.sellerNumber)
                ) as counts,
            fs.sellerName
        FROM fc_seller fs
        ORDER BY counts DESC
            LIMIT 3;
    </select>
</mapper>