.customer_main_loginFont {
    color: white;
}

.customer_main_loginBorder {
    border: 1px solid #EF4A5F;
    border-radius: 1rem;
}
.customer_main_order {
    border-radius: 1rem;
    background-color: #D72239;
    color: white;
}

.customer_main_link {
    text-decoration: none;
    color: white;
}

.customer_navi_link {
    text-decoration: none;
    color: black;
}

.eventImg-size {
    width: 100%;
    height: 100%;
}

.eventCoupon {
    font-size: 1rem;
    color: #FFE165;
}

.storesMainImg {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.storesSideFont {
    font-size: 0.8rem;

}

.storeOrderCommonFont {
    font-size: 0.9rem;
}