<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.master.mapper.EventSqlMapper">
    <select id="selectEventList" resultType="EventBoardDto">
        <![CDATA[
            select * from fc_eventBoard
            where eventEndDay >= now()
            order by eventCreatedAt desc
        ]]>
    </select>

    <insert id="insertEventProcess">
        <selectKey keyProperty="eventNumber" order="AFTER" resultType="int">
            select max(eventNumber) from fc_eventBoard
        </selectKey>
        insert into fc_eventBoard(
        eventMainImage, eventTitle, eventStartDay, eventEndDay,eventVisitCount)
        values(
        #{eventMainImage},#{eventTitle},#{eventStartDay},#{eventEndDay},0)
    </insert>

    <insert id="insertDetailImageProcess">
        insert into fc_eventDetailImage(
        eventNumber,eventDetailImage)
        values(#{eventNumber},#{eventDetailImage})
    </insert>

    <select id="selectRuningEvent" resultType="int">
        <![CDATA[
            select count(*) from fc_eventBoard
            where eventEndDay >= now()
        ]]>
    </select>

    <select id="eventBoardDto" resultType="EventBoardDto">
        select * from fc_eventBoard
        where eventNumber = #{eventNumber}
    </select>

    <select id="eventBoardDetail" resultType="EventDetailImageDto">
        select * from fc_eventDetailImage
        where eventNumber = #{eventNumber}
    </select>

    <insert id="insertEventComment">
        insert into fc_eventComment(
        eventNumber,customerNumber,eventCommentContent)
        values(
        #{eventNumber},#{customerNumber},#{eventCommentContent})
    </insert>

    <select id="selectEventBoardComet" resultType="EventCommentDto">
        select * from fc_eventComment
        where eventNumber = #{eventNumber}
        order By eventCommentNumber desc;
    </select>

    <select id="selectCustomerDto" resultType="CustomerDto">
        select * from fc_customer
        where customerNumber = #{customerNumber}
    </select>

    <select id="selectEventBoardLikeCheck" resultType="int">
        select count(*) from fc_eventLike
        where eventNumber = #{eventNumber} and customerNumber = #{customerNumber}
    </select>

    <delete id="deleteEventLike">
        delete from fc_eventLike
        where eventNumber = #{eventNumber} and customerNumber = #{customerNumber}
    </delete>

    <insert id="insertEventLike">
        insert into fc_eventLike(
        eventNumber,customerNumber
        )values(
        #{eventNumber},#{customerNumber}
        )
    </insert>

    <select id="selectEventBoardLikeCount" resultType="int">
        select count(*) from fc_eventLike
        where eventNumber = #{eventNumber}
    </select>

    <update id="updateEventBoardVisitCount">
        update fc_eventBoard
        set eventVisitCount = eventVisitCount + 1
        where eventNumber = #{eventNumber};
    </update>

    <select id="selectEndEventList" resultType="EventBoardDto">
        <![CDATA[
            select * from fc_eventBoard
            where eventEndDay < now()
            order by eventCreatedAt desc
        ]]>
    </select>

    <select id="selectEndEvent" resultType="int">
        <![CDATA[
            select count(*) from fc_eventBoard
            where eventEndDay < now()
        ]]>
    </select>

    <update id="updateEventCommentMasterReply">
        update fc_eventComment
        set masterReply = #{masterReply}, masterReplyCreatedAt = now()
        where eventCommentNumber = #{eventCommentNumber}
    </update>

    <insert id="insertWinnerProcess">
        insert into fc_winner(
            masterNumber,winnerTitle,winnerContent
        )values(
            #{masterNumber},#{winnerTitle},#{winnerContent}
        )
    </insert>

    <delete id="deleteEventProcess">
        delete from fc_eventBoard
        where eventNumber = #{eventNumber}
    </delete>

    <update id="updateEventProcess">
        update fc_eventBoard
        set eventMainImage =#{eventMainImage}, eventTitle=#{eventTitle}, eventStartDay=#{eventStartDay}, eventEndDay=#{eventEndDay}
        where eventNumber = #{eventNumber}
    </update>

    <delete id="deleteEventDetailImage">
        delete from fc_eventDetailImage
        where eventNumber = #{eventNumber}
    </delete>

    <select id="selectWinnerList" resultType="WinnerDto">
        select * from fc_winner
    </select>
    
    <select id="selectWinnerEventCount" resultType="int">
        select count(*) from fc_winner
    </select>

    <select id="selectWinnerDto" resultType="WinnerDto">
        select * from fc_winner
        where winnerNumber = #{winnerNumber}
    </select>
    
    <update id="updateWinnerProcess">
        update fc_winner
        set winnerTitle = #{winnerTitle}, winnerContent = #{winnerContent}
        where winnerNumber = #{winnerNumber}
    </update>

    <delete id="deleteWinner">
        delete from fc_winner
        where winnerNumber = #{winnerNumber}
    </delete>

</mapper>