<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.master.mapper.EventSqlMapper">
    <select id="selectEventList" resultType="EventBoardDto">
        select * from fc_eventBoard
        order by eventCreatedAt desc
    </select>

    <insert id="insertEventProcess">
        <selectKey keyProperty="eventNumber" order="AFTER" resultType="int">
            select max(eventNumber) from fc_eventBoard
        </selectKey>
        insert into fc_eventBoard(
        eventMainImage, eventTitle, eventStartDay, eventEndDay,eventVisitCount)
        values(
        #{eventMainImage},#{eventTitle},#{eventStartDay},#{eventEndDay},0)
    </insert>

    <insert id="insertDetailImageProcess">
        insert into fc_eventDetailImage(
        eventNumber,eventDetailImage)
        values(#{eventNumber},#{eventDetailImage})
    </insert>

    <select id="selectRuningEvent" resultType="int">
        select count(*) from fc_eventBoard
        where eventEndDay > now()
    </select>

    <select id="eventBoardDto" resultType="EventBoardDto">
        select * from fc_eventBoard
        where eventNumber = #{eventNumber}
    </select>

    <select id="eventBoardDetail" resultType="EventDetailImageDto">
        select * from fc_eventDetailImage
        where eventNumber = #{eventNumber}
    </select>

    <insert id="insertEventComment">
        insert into fc_eventComment(
        eventNumber,customerNumber,eventCommentContent)
        values(
        #{eventNumber},#{customerNumber},#{eventCommentContent})
    </insert>

    <select id="selectEventBoardComet" resultType="EventCommentDto">
        select * from fc_eventComment
        where eventNumber = #{eventNumber}
    </select>

    <select id="selectCustomerDto" resultType="CustomerDto">
        select * from fc_customer
        where customerNumber = #{customerNumber}
    </select>

    <select id="selectEventBoardLikeCheck" resultType="int">
        select count(*) from fc_eventLike
        where eventNumber = #{eventNumber} and customerNumber = #{customerNumber}
    </select>

    <delete id="deleteEventLike">
        delete from fc_eventLike
        where eventNumber = #{eventNumber} and customerNumber = #{customerNumber}
    </delete>

    <insert id="insertEventLike">
        insert into fc_eventLike(
        eventNumber,customerNumber
        )values(
        #{eventNumber},#{customerNumber}
        )
    </insert>

</mapper>