<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fiveguys.master.mapper.MasterSqlMapper">


    <select id="selectAllSellerReview">
        SELECT * from fc_sellerReview
        order by sellerReviewNumber desc
    </select>


    <select id="selectSellerReview">
    select * from fc_sellerReview
    where sellerOrderNumber = #{sellerOrderNumber};
    </select>


    <select id="selectSellerOrder">
        select * from fc_sellerOrder
        where sellerOrderNumber = #{sellerOrderNumber}
    </select>


    <select id="selectSeller">
        select * from fc_seller
        where sellerNumber = #{sellerNumber}
    </select>


    <insert id="insertMasterReply">
        insert into fc_masterReply
        (sellerReviewNumber, masterReplyContent)
        values(#{sellerReviewNumber}, #{masterReplyContent})
    </insert>


    <select id="selectMasterReply">
        SELECT * from fc_masterReply
        where sellerReviewNumber = #{sellerReviewNumber}
    </select>



    <select id="selectAllSellerOrder">
        SELECT *
        FROM fc_sellerOrder
        WHERE sellerNumber = #{sellerNumber}
        GROUP BY sellerOrderCreatedAt
        ORDER BY sellerOrderCreatedAt DESC
    </select>


    <select id="selectSameSellerOrder">
        select * from fc_sellerOrder WHERE
        sellerOrderCreatedAt = #{sellerOrderCreatedAt} and sellerNumber = #{sellerNumber}
    </select>


    <select id="selectMaterialInform">
        select * from fc_material
        where materialNumber = #{materialNumber}
    </select>


    <update id="updateOrderStatusProcessingShipment">
        UPDATE fc_sellerOrder
        set sellerOrderStatus = '출고처리 중'
        where sellerNumber = #{sellerNumber} and sellerOrderCreatedAt = #{sellerOrderCreatedAt}
    </update>


    <update id="updateOrderStatusDelivery">
        UPDATE fc_sellerOrder
        set sellerOrderStatus = '배송중'
        where sellerNumber = #{sellerNumber} and sellerOrderCreatedAt = #{sellerOrderCreatedAt}
    </update>


    <update id="updateOrderStatusDeliveryCompleted">
        UPDATE fc_sellerOrder
        set sellerOrderStatus = '배송완료'
        where sellerNumber = #{sellerNumber} and sellerOrderCreatedAt = #{sellerOrderCreatedAt}
    </update>


    <select id="selectReviewImage">
        select * from fc_sellerReviewImage
        where sellerReviewNumber = #{sellerReviewNumber}
    </select>















</mapper>