<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
<!--글작성 페이지-->
<div class="container">
    <div class="row">

        <div class="col">
            <div class="row">
                <div class="col">
<!--                    닉네임 null값 오류-->
<!--                    닉네임: <span th:text="${communityData.customerDto.customerName}"></span> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    작성시간:
                    <script>
                        setInterval(() => document.getElementById('time-display').innerText = `${new Date().getHours()}시간 전`, 1000);
                    </script>
                    조회수:
                    <span th:text="${communityData.communityDto.communityVisitCount}"></span>
                </div>
            </div>
        </div>

        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">
            제목: <span th:text="${communityData.communityDto.communityTitle}"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            내용: <div th:text="${communityData.communityDto.communityContent}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="./communityPage">목록으로</a>
        </div>
    </div>

<!--    게시글 수정삭제-->
    <div th:if="${session.customerDto != null and session.customerDto.customerNumber == communityData.communityDto.customerNumber}">
        <div class="row">
            <div class="col">
                <a href="@{./updateCommunityPage(communityNumber=${communityData.communityDto.communityNumber})}">수정</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="@{./deleteCommunityPageProcess(communityNumber=${communityData.communityDto.communityNumber})}">삭제</a>
            </div>
        </div>
    </div>

<!--    댓글-->
    <div class="row">
        <form action="./communityCommentProcess" method="post">
            <div class="col" th:if="${session.customerDto} != null">
                <textarea name="commentText"></textarea>
                <div class="row">
                    <div class="col">
                        <button>댓글</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>