<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!--더보기 네비 상단-->
<div class="container-fluid fixed-top py-2 bg-white">
  <div class="row">
    <div class="col-auto">
      <a href="/customer/viewMorePage">
        <span class="fs-3" style="color: black">
          <i class="bi bi-chevron-left"></i>
        </span>
      </a>
    </div>
    <div class="col">
      <span class="fs-3">나의 리뷰</span>
    </div>
    <div class="col text-end">
      <a href="/customer/mainPage" class="customer_navi_link">
        <span class="fs-3"><i class="bi bi-house"></i></span>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 4rem">
  <!--   1 -->
  <div class="row mt-5">
    <div class="col-auto pe-0">
      <img src="/img/배달이미지.jpg" class="rounded-5" style="width: 3rem; height: 3rem">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto pe-0">
          <span>벼락...<i class="bi bi-chevron-right fa-sm"></i></span>
        </div>
        <div class="col opacity-50">
          <span>리뷰 8</span><span><i class="bi bi-dot"></i></span><span>평균별점 5.0</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
                    <span style="color: #FFA918">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <span class="opacity-50" style="color: black">이번달</span>
                    </span>
        </div>
        <div class="col text-end">
          <span class="opacity-50">삭제</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <span>맛있게 잘 먹었습니다</span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <img src="/img/치킨1.jpeg" class="rounded-3" style="width: 10rem; height: 10rem">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto pe-0">
      <span class="border rounded-5 px-3 py-2">레블반반콤보</span>
    </div>
    <div class="col">
      <span class="border rounded-5 px-3 py-2">고르곤치즈볼</span>
    </div>
  </div>
  <!--    2 -->
  <div class="row mt-5">
    <div class="col-auto pe-0">
      <img src="/img/배달이미지.jpg" class="rounded-5" style="width: 3rem; height: 3rem">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto pe-0">
          <span>벼락...<i class="bi bi-chevron-right fa-sm"></i></span>
        </div>
        <div class="col opacity-50">
          <span>리뷰 8</span><span><i class="bi bi-dot"></i></span><span>평균별점 5.0</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
                    <span style="color: #FFA918">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <span class="opacity-50" style="color: black">이번달</span>
                    </span>
        </div>
        <div class="col text-end">
          <span class="opacity-50">삭제</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <span>너무 맛잇어요 또 시켜먹을게용!!!!</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto pe-0">
      <span class="border rounded-5 px-3 py-2">오리지날허니반반콤보</span>
    </div>
    <div class="col-auto pe-0">
      <span class="border rounded-5 px-3 py-2">고르곤치즈볼</span>
    </div>
    <div class="row mt-3">
      <div class="col">
        <span class="border rounded-5 px-3 py-2">제로콜라500mL</span>
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="row mt-5">
    <div class="col-auto pe-0">
      <img src="/img/배달이미지.jpg" class="rounded-5" style="width: 3rem; height: 3rem">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto pe-0">
          <span>벼락...<i class="bi bi-chevron-right fa-sm"></i></span>
        </div>
        <div class="col opacity-50">
          <span>리뷰 8</span><span><i class="bi bi-dot"></i></span><span>평균별점 5.0</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
                    <span style="color: #FFA918">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <span class="opacity-50" style="color: black">이번달</span>
                    </span>
        </div>
        <div class="col text-end">
          <span class="opacity-50">삭제</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <span>치킨 안좋아하는데 여기는 너무 맛있어영~~~~~</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto pe-0">
      <span class="border rounded-5 px-3 py-2">파이브오리지날</span>
    </div>
    <div class="col">
      <span class="border rounded-5 px-3 py-2">콜라1.25L</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto pe-0">
      <img src="/img/운영자이미지.png" class="rounded-5" style="width: 2rem; height: 2rem">
    </div>
    <div class="col-auto ps-0">
      <div class="row-auto px-2 mx-2 py-2 bg-light rounded-4">
        <div class="col">
          <span>사장님</span><span class="ms-1 opacity-50" style="font-size: 0.8rem">어제</span>
        </div>
        <div class="col">
          벼락식헤다 고객님 안녕하세요.
        </div>
        <div class="col">
          맛있게 드시고 멋진 리뷰감사드립니다~~
        </div>
        <div class="col">
          항상 깨끗하고 위생을 철저히 준수하는
        </div>
        <div class="col">
          주방에서 열심히 조리하고 있습니다.
        </div>
        <div class="col">
          항상 고객님의 기대를 만족시키려
        </div>
        <div class="col">
          노력하겠습니다.
        </div>
        <div class="col">
          다음에 또 주문 부탁드리겠습니다.
        </div>
        <div class="col">
          감사합니다.
        </div>
      </div>
    </div>
  </div>
  <!-- 4 -->
  <div class="row mt-5">
    <div class="col-auto pe-0">
      <img src="/img/배달이미지.jpg" class="rounded-5" style="width: 3rem; height: 3rem">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto pe-0">
          <span>벼락...<i class="bi bi-chevron-right fa-sm"></i></span>
        </div>
        <div class="col opacity-50">
          <span>리뷰 8</span><span><i class="bi bi-dot"></i></span><span>평균별점 5.0</span>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
                    <span style="color: #FFA918">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        <span class="opacity-50" style="color: black">이번달</span>
                    </span>
        </div>
        <div class="col text-end">
          <span class="opacity-50">삭제</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <span>오늘도 너무 맛있네요~~~~</span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-auto pe-0">
      <span class="border rounded-5 px-3 py-2">레블순살</span>
    </div>
    <div class="col-auto pe-0">
      <span class="border rounded-5 px-3 py-2">마블링소스</span>
    </div>
    <div class="col">
      <span class="border rounded-5 px-3 py-2">풍듀치즈볼</span>
    </div>
  </div>

</div>

<!--<div class="container-fluid border-top" style="margin-top: 5rem"></div>-->
<div class="container-fluid" style="margin-top: 6rem"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.mn.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>