<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<!--장바구니  네비 상단-->
<div class="container-fluid fixed-top py-2 bg-light">
    <div class="row">
        <div class="col">
            <form action="/customer/storesDetailPage#menu" method="get">
                <input type="hidden" name="sellerNumber" th:value="${param.sellerNumber}">
                <button type="submit" class="border-0 ps-0" style="background-color: transparent">
                <span class="fs-3" style="color: black">
                    <i class="bi bi-chevron-left"></i>
                </span>
                </button>
            </form>
        </div>
        <div class="col text-center">
            <span class="fs-3">
                장바 구니
            </span>
        </div>
        <div class="col text-end">
            <a href="/customer/mainPage" class="customer_navi_link">
                <span class="fs-3"><i class="bi bi-house"></i></span>
            </a>
        </div>
    </div>
</div>
<!--비로그인-->
<div class="container" style="margin-top: 3rem;" th:if="${session.customerDto == null}">
    <div class="row pt-5">
        <div class="col text-center">
            <span class="fs-1">로그인시 이용 가능합니다.</span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/login/customerLogin" class="fs-3 text-danger">로그인</a>
        </div>
    </div>
</div>

<!--장바구니 주문 네비 상단-->
<div class="container" style="margin-top: 3rem;" th:if="${session.customerDto != null}">
    <div class="row px-2 pt-3">
        <div class="col">
            <span>배달<span class="opacity-50"><i class="bi bi-dot"></i></span>포장</span>
        </div>
    </div>
    <div class="row  py-3 px-2">
        <div class="col-auto fw-bold" style="font-size: 0.9rem">
            <span>파이브가이즈</span>
            <span class="ms-1" th:text="${sellerDto.sellerName}"></span><span><i class="bi bi-chevron-right"></i></span>
        </div>
        <div class="col text-end" style="font-size: 0.9rem">
            <span><i class="bi bi-stopwatch"></i></span>
            <span>48~63분 후 도착</span>
        </div>
    </div>
    <!-- 메뉴 리스트 -->
    <div class="row mx-2 pt-1 border rounded-4 px-2">
        <div class="col">

            <div class="row mt-2" th:each="orderTotalMap : ${selectOrderTotalList}">
                <div class="col">

                    <div class="row">
                        <div class="col">

                            <!-- 메뉴 목록-->
                            <div class="row py-1">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <span class="fw-bold" th:text="${#strings.arraySplit(orderTotalMap.getKey(), '_')[0]}">메뉴이름</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col" style="font-size: 0.9rem">
                                            <span th:text="|가격 : ${#strings.arraySplit(orderTotalMap.getKey(), '_')[1]}|">메뉴가격</span>
                                        </div>
                                    </div>
                                    <div class="row opacity-50" th:each="side : ${orderTotalMap.getValue()}">
                                        <div class="col" style="font-size: 0.9rem">
                                            <span th:text="${side.menuOptionName} + ' : '"></span>
                                            <span th:text="${side.menuOptionContent}">순사라</span>
                                            <span th:text="|(${#numbers.formatInteger(side.menuOptionPrice, 0, 'COMMA')})|">치킨가격</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span th:text="|${#numbers.formatInteger(orderTotalMap.getKey().split('_')[3], 0, 'COMMA')}원|">치킨가격</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 text-end g-0">
                                    <img class="basket-img" th:src="${#strings.arraySplit(orderTotalMap.getKey(), '_')[2]}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom pb-2 g-0">
                        <div class="col">
                            <a th:href="@{/customer/deleteOrderMenu(customerNumber=${session.customerDto.getCustomerNumber()},
                            sellerNumber=${param.sellerNumber}, customerOrderNumber=${#strings.arraySplit(orderTotalMap.getKey(), '_')[4]})}">
                            </a>
                        </div>
                        <div class="col text-end">
                            <div class="input-group">
                                <button class="btn btn-outline-secondary" type="button">
                                    <a th:href="@{/customer/deleteOrderMenu(customerNumber=${session.customerDto.getCustomerNumber()},
                            sellerNumber=${param.sellerNumber}, customerOrderNumber=${#strings.arraySplit(orderTotalMap.getKey(), '_')[4]})}">
                                        <i class="bi bi-trash3" style="color: red"></i>
                                    </a>
                                </button>
                                <input type="number" class="form-control text-center" value="1">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="bi bi-plus"></i> <!-- 더하기 아이콘 -->
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 메뉴 추가 : 지점이동 -->
            <div class="row">
                <div class="col py-2 text-center">
                    <span>+ 메뉴추가</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container py-2 fixed-bottom border bg-light">
    <div class="row mx-2">
        <div class="col border rounded-3 text-center py-1" style="background-color: #D72239">
            <form action="/customer/settlementPage" method="get">
                <input type="hidden" name="sellerNumber" th:value="${param.sellerNumber}">
                <button class="btn border-0 fs-2" style="color:white;">
                    <span><i class="fa-regular fa-credit-card"></i></span>
                    <span>결제 하기</span>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 6rem"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.mn.js"></script>
<script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
</body>
</html>