<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-2"></div>



        <div class="col-8">

            <div class="row pt-5 mt-5"></div>

            <div class="row pt-5">
                <div class="col text-center fw-bold text-danger" style="font-size: 80px">F.Guys</div>
            </div>

            <form action="./sellerLoginProcess" method="post">
                <div class="row pt-3">

                    <div class="col-3"></div>

                    <div class="col-6">
                        <div class="row">
                            <input class="col form-control" type="text" name="sellerId" placeholder="아이디 입력">
                        </div>


                        <div class="row">
                            <input class="col form-control" type="password" name="sellerPassword" placeholder="비밀번호 입력">
                        </div>


                        <div class="row pt-3">
                            <input class="col btn btn-dark" type="submit" value="로그인">
                        </div>


                        <div class="row pt-2">
                            <a href="" class="text-black text-end px-0">회원가입</a>
                        </div>

                    </div>

                    <div class="col-3"></div>

                </div>
            </form>




        </div>



        <div class="col-2"></div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>